# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Massive stan output files
StanModels_mod*
# Special code for big RData files
*.bigRData

*.html
*.tex

Timing_Model/TimingModelStan_cache/*
Pooled_Final_Analysis/*_cache/

# The 2D6 data which is sensitive
RData/PK_data/TwoD6&Vivax Genotyping_ASscore*

Simulation_Study/*_cache/
Simulation_Study/*_files/

# Ignore all the DS_Stores
**/.DS_Store
Timing_Model/.Rhistory
Timing_Model/.Rhistory
Timing_Model/.Rhistory

# Ignore .Rhistory 
**/.Rhistory
Pooled Final Analysis/Pooled_Analysis.R
Timing_Model/OutputResults/thetas_mod1.RData
