# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Massive stan output files
StanModels_mod*

*.html
*.tex

Timing_Model/TimingModelStan_cache/*

# Ignore all the DS_Stores
**/.DS_Store
Timing_Model/.Rhistory
Timing_Model/.Rhistory
Timing_Model/.Rhistory

# Ignore .Rhistory 
**/.Rhistory
